.button {
  background: #f4e041;
  border-radius: 80px;
  padding: 4px 18px;
  cursor: pointer;
  min-width: 100px;

  &:hover {
    background: #ffe302;
  }

  &:disabled {
    background: #b4b4b4;
    color: rgba(255, 255, 255, 0.87);
    cursor: not-allowed;
  }
}

.checkbox_label {
  display: flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;

  span {
    padding: 0;
  }
}
