$text-color: rgba(0, 0, 0, 0.87);

.text_title {
  color: $text-color;
  font-size: 40px;
  font-family: Nunito;
  font-weight: 400;
  line-height: 40px;
  word-wrap: break-word;
}

.text_paragraph {
  color: $text-color;
  font-size: 16px;
  font-family: Nunito;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
}
