.sign-up {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sign-up_box {
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.sign-up_form {
  display: flex;
  flex-direction: column;
  width: 380px;

  @media (max-width: 400px) {
    width: 100%;
  }
}

.sign-up_form_inputs {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  padding-bottom: 25px;
}

.sign-up_form_checkboxes {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-bottom: 50px;
}

.sign-up_form_checkboxes_box {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.sign-up_form_image_uploader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.success_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  @media (max-width: 400px) {
    svg {
      width: 250px;
      height: 250px;
    }
  }
}

.error_message {
  color: #d32f2f;
  padding: 8px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  width: 100%;
  text-align: center;
}
