.users {
  width: 100%;
  display: flex;
  justify-content: center;
}

.users_box {
  width: 100%;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.users_box_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 29px;
  width: 100%;

  @media (max-width: 796px) {
    max-width: 370px;
  }
}

.card_box {
  width: 100%;
  max-width: 370px;
  background: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.card_box_image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.card_box_text_paragraph {
  width: 100%;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card_box_text_information {
  overflow: hidden;
  width: 100%;
}
